body{
    margin: 0;
    padding: 0;
}

.content{    
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1em solid red;
    width: 100%;
    height: 100%;    
}

.appContent{
    width: 20em;
    height: 39em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    border-radius: 0.8em;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2); 
}

.app{
    padding: 2em;
}


.button{
    width: 11em;
    opacity: 0.3;
    background: none;
    border: none;
    fill: #6f4d90;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover{
    transform: scale(1.2);
    opacity: 1;
  }
  
 

#contador{
   margin: 0.4em 0em 0.4em 0em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9em;
    font-weight: 550;
    color: #6f4d90;    
  
}

.estado{

    margin: 0;
    padding: 0.1em;
    width: 1.5em; 
    height: 1.5em;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #6f4d90;    
    border-radius: 0.2em 0em 0em 0.2em; 
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2); 

    
}
